

.link {
    color: black;
    padding: 50px;
    font-size: 20px;
}

.NavBar {
  text-align: center;
  margin: 30px;
}


  .scroller {
   
    width: 900px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
    margin: 50px 0;
  }


  .form {
    text-align: center;
    background-image:url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  }

  .userStories {
    text-align: center;
    background-image:url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  }
  
